{% extends 'default/form.html.twig' %}

{% block form %}
    <h1 class="mb-3">Edit Camera</h1>

    {{ form(form) }}

    <div class="mb-3">
        <a href="{{ path('camera_index') }}">Back to the list</a>
    </div>
{% endblock %}