{% extends 'user/show.html.twig' %}

{% block body %}
    {% block homebutton %}{% endblock %}
    <h1 class="mt-3">Cameras</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Logged in as: <a href="{{ path('user_show', { 'id': app.user.id }) }}">{{ app.user.username }}</a></p>
    {% else %}
        <p>
        <a href="{{ path('security_login') }}"
           type="button"
           class="btn btn-info ">Login/Register</a>
        </p>
    {% endif %}

    {% block table %}
        {{ parent() }}
        {% block additional_td %}{% endblock %}
    {% endblock %}
{% endblock %}
