{% extends 'default/form.html.twig' %}

{% block form %}
    <h1>Add Camera</h1>

    {{ form(form) }}

    <div>
        <a href="{{ path('camera_index') }}">Back to the list</a>
    </div>
{% endblock %}
