{% extends 'default/form.html.twig' %}

{% block body %}
    <h1 class="mb-3">Change Your Password</h1>

    {{ parent() }}

    {% block form %}
        {{ form(form) }}
    {% endblock %}
{% endblock %}

